#Player Login Protection Configuration
#
# When enabled, players receive brief invisibility + invulnerability on login
# until they move (or until the timeout expires).
#Mon Jun 29 01:41:03 EDT 2026
protectPlayerDuringLogin=true
playerLoginValidationTimeout=60
protectPlayerDuringLoginLogging=true
enabled=auto
